<div class="cart-title">Your Cart</div>
<table>
  <%= render(:partial => "cart_item", :collection => cart.items) %>  
  
  <tr class="total-line">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
 
</table>
  
<!-- START_HIGHLIGHT -->
<%= button_to "Checkout", :action => 'checkout' %>
<!-- END_HIGHLIGHT -->
<%= button_to "Empty cart", :action => :empty_cart %>
 
